.hero {
    padding: 4px;
    margin: 1px;
    width: 2em;
    border-radius: 50% 50%;
}

.hero-gold {
    background-color: gold!important;
}

.hero-purple {
    background-color: mediumpurple!important;
}

.hero-blue {
    background-color: lightblue!important;
}

.hero-green {
    background-color: lightgreen!important;
}

.hero-grey {
    background-color: lightgrey!important;
}