.hero {
    padding: 4px;
    margin: 1px;
    border-radius: 50% 50%;
    display: inline-block;
    width: 28px;
    text-align: center;
}

.hero-gold {
    background-color: gold!important;
}

.hero-purple {
    background-color: #E0B0FF!important;
}

.hero-blue {
    background-color: lightblue!important;
}

.hero-green {
    background-color: lightgreen!important;
}

.hero-grey {
    background-color: lightgrey!important;
}